<!DOCTYPE html>
<html>
<head>
  <title>Skl</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse">
          <%=  render_navigation %>
        </div>
      </div>
    </div>
  </div>  
<%= yield %>

</body>
</html>
